.pingSpan {
  flex: 0;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: rgb(0, 0, 0, 0.4);
  border-radius: 50%;
}

.pingGood {
  background-color: green;
}

.pingLow {
  background-color: yellow;
}

.pingBad {
  background-color: red;
}
